<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>처방전 업로드</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>
<body>
    <div th:insert="~{index::logoFragment}"></div>
    <h5 th:if="${msg}" th:text="${msg}"></h5>
    <div class="all-content">
        <div class="content">
            <form id="prescriptionForm" method="post">
                <div class="title">
                    처방전 작성
                </div>
                <div class="prescription">
                    <div class="form-group">
                        <label class="form-label" for="medicalInsurance">의료보험</label>
                        <input type="text" class="form-control-inline medium-input" id="medicalInsurance" name="medicalInsurance" maxlength="9" th:field="*{c.prescription.medicalInsurance}" required>
                        <label class="form-label" for="patientName" style="margin-left: 80px;">환자이름</label>
                        <input type="text" class="form-control-inline medium-input" id="patientName" name="patientName" maxlength="5" th:field="*{c.prescription.patientName}" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="phone1">환자번호</label>
                        <select class="form-control-inline small-input" id="phone1" name="phone1" th:field="*{c.prescription.phoneNumber.firstNo}">
                            <option value="02">02</option>
                            <option value="010">010</option>
                        </select>&nbsp&nbsp-&nbsp&nbsp
                        <input type="text" class="form-control-inline small-input" id="phone2" name="phone2" maxlength="4" th:field="*{c.prescription.phoneNumber.secondNo}">&nbsp&nbsp-&nbsp&nbsp
                        <input type="text" class="form-control-inline small-input" id="phone3" name="phone3" maxlength="4" th:field="*{c.prescription.phoneNumber.thirdNo}">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="firstRegNo">주민등록번호</label>
                        <input type="text" class="form-control-inline medium-input" id="firstRegNo" name="firstRegNo" maxlength="6" th:field="*{c.prescription.regNumber.firstRegNo}" required>&nbsp&nbsp-&nbsp&nbsp
                        <input type="password" class="form-control-inline medium-input" id="secondRegNo" name="secondRegNo" maxlength="7" th:field="*{c.prescription.regNumber.secondRegNo}" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="date">작성일</label>
                        <input type="date" class="form-control-inline" id="date" name="date" th:field="*{c.prescription.date}">
                    </div>
                    <div class="medicine-list-title">
                        약품 리스트
                    </div>
                    <div id="medicineFieldsContainer">
                        <div class="medicine-group">
                            <div class="medicine-fields">
                                <label class="form-label">약품 코드</label>
                                <input type="text" class="form-control-inline medium-input" name="medicineCode[]" th:field="*{c.prescription.medicine.medicineCode}">
                                <label class="form-label" style="margin-left: 30px;">약품 이름</label>
                                <input type="text" class="form-control-inline medium-input" name="medicineName[]" th:field="*{c.prescription.medicine.medicineName}">
                            </div>
                            <div class="medicine-fields">
                                <label class="form-label">용량</label>
                                <input number="text" class="form-control-inline medium-input" name="dosage[]" th:field="*{c.prescription.medicine.dosage}">
                                <label class="form-label" style="margin-left: 30px;">투여 방법</label>
                                <input type="text" class="form-control-inline medium-input" name="howAdm[]" th:field="*{c.prescription.medicine.howAdm}">
                            </div>
                            <div class="medicine-fields">
                                <label class="form-label">횟수</label>
                                <input type="text" class="form-control-inline medium-input" name="numAdm[]" th:field="*{c.prescription.medicine.numAdm}">
                                <label class="form-label" style="margin-left: 30px;">일수</label>
                                <input type="text" class="form-control-inline medium-input" name="daysAdm[]" th:field="*{c.prescription.medicine.daysAdm}">
                            </div>
                        </div>
                    </div>
            </div>
                <div class="title">
                    약국 검색
                </div>
<!--                <div class="pharmacy-search">-->
<!--                    <input type="text" name="pharmacy-search" disabled><button type="button" class="btn btn-outline-secondary" disabled>검색</button>-->
<!--                </div>-->
                <div>
                    <div class="form-check" th:each="pAccount : ${pAccounts}">
                        <input class="form-check-input" type="radio" name="selectedPharmacy" th:field="*{c.pharmacyId}" th:value="${pAccount.id}" required>
                        <label class="form-check-label">
                            <h5 th:text="${pAccount.name}">약국 이름</h5>
                            <p th:text="${pAccount.address}">약국 주소</p>
                        </label>
                    </div>
                </div>
                <div class="submit-div">
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
